/* fonts */

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/open-sans-v36-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v36-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v36-latin-700.woff2') format('woff2');
}

/* body */

.wrapper {
    width: 100%;
    max-width: 80rem;
    /* 65ch - удобоворимое кол-во символов на строке; */
    margin: 0 auto;
    padding: 0 1rem;
}

:root {
    --h-text-color: #FFF;
    --button-color: #FFCF01;
    --button-text-color: black;
    --background-color: #0A1117;
    font-size: 62.5%;
}

body {
    color: var(--h-text-color);
    font-size: 1.8rem;
    background-color: var(--background-color);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

header {
    background-color: var(--background-color);
    padding: 16px;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
}

article {
    color: var(--h-text-color);
    margin: 16px 16px 16px 16px;
    padding: 20px 20px 20px 20px;
}

h1 {
    text-align: center;
    color: var(--h-text-color);
    font-size: 3.6rem;
    margin: 80px 23px 16px 23px;
}

h2 {
    text-align: center;
    color: var(--h-text-color);
    font-size: 2.8rem;
    margin: 0px 16px 24px 16px;
}


p {
    font-weight: 600;
}

a {
    text-decoration: none;
}

button {
    min-width: 3rem;
    max-width: 30rem;
}

footer {
    background-color: #121E28;
}

/* sections */

.header-btn-bm {
    color: #FFA903;
    background-color: var(--background-color);
    border: none;
}

.welcomepage {
    padding: 0;
}

.welcomepage-p {
    text-align: center;
    font-weight: 500;
    margin: 0px 23px 40px 23px;
}

.welcomepage-btn {
    text-align: center;
    color: var(--button-text-color);
    background-color: var(--button-color);
    display: flex;
    margin-inline: auto;
    font-size: 1.5rem;
    border-radius: 1.2rem;
    padding: 8px 28px;
    margin-bottom: 100px;
}

.DAOservice {
    padding: 0;

}

.DAOservice-wrap {
    display: flex;
    padding: 0px 0px;
    overflow-x: hidden;
    object-fit: cover;
    border-radius: 20px;
    background-color: black;
}

.DAOservice-wrap-img {
    display: flex;
    position: relative;
    justify-content: center;
    height: 493px;
    overflow-x: hidden;
    min-width: 360px;
    z-index: -1;
}

.DAOservice-ul {
    padding: 0;
    align-self: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0px auto 24px auto;
}

.DAOservice-ul li {
    font-weight: 600;
    font-size: 1.4rem;
    list-style: none;
    padding: 12px 14px;
    border-radius: 44.939px;
    background: #182632;
    gap: 4px;
    text-align: center;
    margin: 6px 6px 6px 6px;
}

.DAOservice-p {
    text-align: center;
    margin: 0px auto 68px auto;
}

.DAOservice-a {
    color: #0A1117;
    background-color: var(--button-color);
    border-radius: 10rem;
    border: 0.4rem solid #0A1117;
    padding: 0px 12px 0px 12px;
}

.DAOservice img {
    background: #0A1117;
    margin: 0px auto 0px auto;
}

.DAOservice .wrapper {
    max-width: 900px;
}

.pink a {
    color: #FFB4D3;
}

.yellow a {
    color: #FFC24C;
}

.purpul a {
    color: #D387F7;
}

.blue a {
    color: #77E6FF;
}

.grey a {
    color: #707F8D;
}

.DAOjourney {
    padding: 0;
}

.DAOjourney-ul {
    padding: 0;
    line-height: 36px;
    margin: 0px auto 80px auto;
}

.DAOjourney-ul li {
    list-style: none;
    text-align: center;
    font-size: 2rem;
}

.DAOjourney a {
    color: #37424D;
}

.DAOjourney a:hover {
    color: #23C9DE;
}

.DAOapp {
    padding: 0;
}

.DAOapp-wrap-img {
    display: flex;
    position: relative;
    justify-content: center;
    min-height: 230px;
    max-height: 1400px;
    overflow-x: hidden;
    min-width: 360px;
    z-index: -1;

}

.DAOapp-img {
    display: flex;
    padding: 0px 0px;
    overflow-x: hidden;
    object-fit: cover;
    margin: 0 auto 28px auto;
}

.DAOapp .wrapper {
    max-width: 1000px;

}


.DAOapp-ul {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0px auto 26px auto;
}

.DAOapp-ul li {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    list-style: none;
    padding: 0 8px 0 8px;
}

.DAOapp-ul button {
    color: #8395A7;
    background-color: var(--background-color);
    border: none;

}

.DAOapp-ul button:hover {
    color: #FFC803;
}

.DAOapp a {
    background: rgba(255, 207, 1, 0.15);
    border-radius: 0.8rem;
    color: #FFCF01;
    padding: 4px 29px 4px 30px;
    border-radius: 0.8rem;
    gap: 8px;
    justify-content: baseline;
    display: flex;
    align-items: center;
}

.DAOapp-btn-watch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px auto 80px auto;
}


.DAOapp-btn-watch a {
    color: #FFCF01;
}

.DAOpartners {
    padding: 0;
}

.DAOpartners-ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 17px 80px 17px;
}

.DAOpartners-ul li {
    text-align: center;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 600;

}

.DAOpartners-ul a {
    color: var(--h-text-color);
}

.DAOpartners img {
    display: block;
}

.DAOstaff {
    padding: 0;
}

.DAOstaff-ul {
    padding: 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: baseline;
    margin: 0px 30px 71px 30px;

}

.DAOstaff-ul li {
    list-style: none;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--h-text-color);
    padding: 2px 5px 2px 5px;
}

.DAOstaff-img {
    display: block;
    margin: 10px 10px 10px 10px;

}

.contenerstaff {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin: 0px 30px 22px 30px;
}

.DAOform {
    border-radius: 2.2rem;
    border: 0.1rem solid #2A3744;
    background: #14212D;
    text-align: center;
    margin: 0px 16px 80px 16px;
}

.DAOform-h2 {
    margin: 28px auto 8px auto;
}

.DAOform input {
    margin: 0px auto 16px auto;
    border-radius: 10px;
    border: 1px solid #2A3744;
    background: #121E28;
    width: 279px;
}

.DAOform p {
    color: #9AAFC3;
    margin: 0px 24px 24px 24px;
}

.DAOform-submit {
    border-radius: 1rem;
    background-color: #E2C1F9;
    color: #10151A;
    padding: 10px;
    margin-bottom: 24px;

}

.DAOsponsors {
    padding: 0;
}

.DAOpaper {
    padding: 0;
}

.DAOpaper-card1 {
    border-radius: 2rem;
    background: #77E6FF;
    text-align:start;
    color: #10151A;
    margin: 0px 16px 16px 16px;
}

.DAOpaper-card2 {
    border-radius: 2rem;
    background: #E2C1F9;
    text-align: start;
    color: #10151A;
    margin: 0px 16px 16px 16px;
}

.DAOpaper-card3 {
    border-radius: 2rem;
    background: #DBE268;
    text-align: start;
    color: #10151A;
    margin: 0px 16px 40px 16px;
}

.DAOpaper-h3 {
    margin-left:0;
}

.DAOpaper img{
    margin-left: 0;
}

.DAOpaper-btn-read {
    font-size: 1.4rem;
    color: #10151A;
    display: flex;
    justify-content: baseline;
    flex-direction: row;

}

.DAOpaper-p {
    text-align: center;
    margin-bottom: 80px;
}

.DAOpaper-btn-seeall {
    font-size: 1.8rem;
    color: #8395A7;
    display: flex;
    justify-content: baseline;
    justify-content: center;
}

.DAOpaper-img {
    margin: 20px 116px 0px 20px;
}

.arrowread {
    margin: 3px 0px 3px 6px;
}

.arrowseeall {
    margin: 0px 0px 0px 10px;
}

.DAOpodcasts {
    padding: 0;
}

.DAOpodcasts-card {
    border-radius: 2rem;
    border: 0.2rem solid #2A3744;
    background-color: #121E28;
    text-align: start;
    margin: 0px 16px 16px 16px;
}

.DAOpodcasts-card-bottom {
    border-radius: 2rem;
    border: 0.2rem solid #2A3744;
    background-color: #121E28;
    text-align: start;
    margin: 0px 16px 40px 16px;
}

.DAOpodcasts-card h3 {
    font-size: 1.7rem;
}

.DAOpodcasts-card p {
    font-size: 1.4rem;
}

.DAOpodcast-btn-listen {
    font-size: 1.2rem;
    color: var(--h-text-color);
    display: flex;
    justify-content: baseline;
    flex-direction: row;
}

.DAOpodcast-p {
    text-align: center;
    margin-bottom: 80px;
}

.DAOpodcast-btn-seeall {
    font-size: 1.8rem;
    color: #8395A7;
    display: flex;
    justify-content: baseline;
    justify-content: center;
}

footer {
    padding: 0px 70px;
}

.DAOlogo {
    display: flex;
    justify-content: center;
}

.DAOlogo-img {
    margin: 32px auto 32px auto;
}

.footer-ul-1 {
    list-style: none;
    text-align: center;
    padding: 0;
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-ul-1 li {
    margin: 0px 20px 32px 20px;
}

.footer-ul-1 a {
    color: var(--h-text-color);
}

.footer-ul-2 {
    list-style: none;
    text-align: center;
    padding: 0;
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-ul-2 li {
    margin: 0px 10px 32px 10px;
}

.footer-ul-2 a {
    color: var(--h-text-color);
}