/* fonts */

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/open-sans-v36-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v36-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v36-latin-700.woff2') format('woff2');
}

/* body */

.wrapper {
    width: 100%;
    max-width: 70rem;
    /* 65ch - удобоворимое кол-во символов на строке; */
    margin: 0 auto;
    padding: 0 1rem;
}

.DAOservice-wrap {
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 0;
    border-radius: 20px;
}

:root {
    --h-text-color: #FFF;
    --button-color: #FFCF01;
    --button-text-color: black;
    --background-color: #0A1117;
    font-size: 62.5%;
}

body {
    color: var(--h-text-color);
    font-size: 1.8rem;
    background-color: var(--background-color);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

header {
    background-color: var(--background-color);
    padding: 16px;
}

article {
    color: var(--h-text-color);
    margin: 0 16px 0 16px;
}

h1 {
    text-align: center;
    color: var(--h-text-color);
    font-size: 3.6rem;
}

h2 {
    text-align: center;
    color: var(--h-text-color);
    font-size: 2.8rem;
}


p {
    font-weight: 600;
}

a {
    text-decoration: none;
}

button {
    min-width: 3rem;
    max-width: 30rem;
}

footer {
    background-color: #121E28;
}

/* sections */

.header-btn-bm {
    color: #FFA903;
    background-color: var(--background-color);
    border: none;
}

.welcomepage {
    padding: 0;
}

.welcomepage-p {
    text-align: center;
    font-weight: 500;
}

.welcomepage-btn {
    text-align: center;
    color: var(--button-text-color);
    background-color: var(--button-color);
    display: block;
    margin-inline: auto;
    font-size: 1.5rem;
    border-radius: 1.2rem;
    padding: 8px 28px;
}

.DAOservice {
    padding: 0;

}

.DAOservice-ul {
    padding: 0;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
}

.DAOservice-ul li {
    font-weight: 600;
    font-size: 1.4rem;
    list-style: none;
    padding: 12px 14px;
    border-radius: 44.939px;
    background: #182632;
    gap: 4px;
    text-align: center;

    margin: 6px 6px 6px 6px;

}

.DAOservice-p {
    text-align: center;
}

.DAOservice-a {
    color: #0A1117;
    background-color: var(--button-color);
    margin-inline: auto;
    border-radius: 10rem;
    border: 0.3rem solid #0A1117;
}

.DAOservice img {
    display: flex;
    background: #0A1117;
}

.pink a {
    color: #FFB4D3;
}

.yellow a {
    color: #FFC24C;
}

.purpul a {
    color: #D387F7;
}

.blue a {
    color: #77E6FF;
}

.grey a {
    color: #707F8D;
}

.DAOjourney {
    padding: 0;
}

.DAOjourney-ul {
    padding: 0;
    line-height: 36px;
}

.DAOjourney-ul li {
    list-style: none;
    text-align: center;
    font-size: 2rem;
}

.DAOjourney a {
    color: #37424D;
}

.DAOjourney a:hover {
    color: #23C9DE;
}

.DAOapp {
    padding: 0;
}

.DAOapp .wrapper {
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.DAOapp-img {
    display: block;
}

.DAOapp-ul {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.DAOapp-ul li {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    list-style: none;
    padding: 0 8px 0 8px;
}

.DAOapp-ul button {
    color: #8395A7;
    background-color: var(--background-color);
    border: none;

}

.DAOapp-ul button:hover {
    color: #FFC803;
}

.DAOapp a{
    background: rgba(255, 207, 1, 0.15);
    border-radius: 0.8rem;
    color: #FFCF01;
    padding: 4px 29px 4px 30px;
    border-radius: 0.8rem;
    gap: 8px;
    justify-content: baseline;
    display:flex;
    align-items: center;
}

.DAOapp-btn-watch {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.DAOapp-btn-watch a {
    color: #FFCF01;
}

.DAOpartners {
    padding: 0;
}

.DAOpartners-ul {
    padding: 0;
}

.DAOpartners-ul li {
    text-align: center;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.DAOpartners-ul a {
    color: var(--h-text-color);
}

.DAOpartners-ul img {
    border-radius: 2rem;
    border: 0.957px solid #2A3744;
    background: #121E28;
    display: block;
}

.DAOstaff {
    padding: 0;
}

.DAOstaff-ul {
    padding: 0;
}

.DAOstaff-ul li {
    list-style: none;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--h-text-color);
}

.DAOform {
    border-radius: 2.2rem;
    border: 0.1rem solid #2A3744;
    background: #14212D;
    text-align: center;
}

.form label {
    padding: 13px 184px 13px 18px;
}

.DAOform p {
    color: #9AAFC3;
}


.DAOform-submit {
    border-radius: 1rem;
    background-color: #E2C1F9;
    color: #10151A;
    padding: 10px;

}

.DAOsponsors {
    padding: 0;
}

.DAOpaper {
    padding: 0;
}

.DAOpaper-card1 {
    border-radius: 2rem;
    background: #77E6FF;
    text-align: center;
    color: #10151A;
}

.DAOpaper-card2 {
    border-radius: 2rem;
    background: #E2C1F9;
    text-align: center;
    color: #10151A;
}

.DAOpaper-card3 {
    border-radius: 2rem;
    background: #DBE268;
    text-align: center;
    color: #10151A;
}

.DAOpaper-btn-read {
    font-size: 1.4rem;
    color: #10151A;
}

.DAOpaper-p {
    text-align: center;
}

.DAOpaper-btn-seeall {
    font-size: 1.8rem;
    color: #8395A7;
}

.DAOpodcasts {
    padding: 0;
}

.DAOpodcasts-card {
    border-radius: 2rem;
    border: 0.2rem solid #2A3744;
    background-color: #121E28;
    text-align: center;
}

.DAOpodcasts-card h3 {
    font-size: 1.7rem;
}

.DAOpodcasts-card p {
    font-size: 1.4rem;
}

.DAOpodcast-btn-listen {
    font-size: 1.2rem;
    color: var(--h-text-color);
}

.DAOpodcast-p {
    text-align: center;
}

.DAOpodcast-btn-seeall {
    font-size: 1.8rem;
    color: #8395A7;
}

footer {
    padding: 0;
}

.footer-ul-1 {
    list-style: none;
    text-align: center;
    padding: 0;
    font-size: 1.4rem;
    font-weight: 600;
}

/* .footer-ul-1 li {
} */

.footer-ul-1 a {
    color: var(--h-text-color);
}

.footer-ul-2 {
    list-style: none;
    text-align: center;
    padding: 0;
    font-size: 1.4rem;
    font-weight: 600;
}

/* .footer-ul-2 li {
    
} */

.footer-ul-2 a {
    color: var(--h-text-color);
}