@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/open-sans-v36-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v36-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v36-latin-700.woff2') format('woff2');
}

:root {
    --h-text-color: white;
    --button-color: #FFCF01;
    --button-text-color: black;
    --background-color: #0A1117;
    font-size: 62.5%;
}

body {
    color: var(--h-text-color);
    font-size: 3.6rem;
    background-color: var(--background-color);
    font-family: OpenSans, sans-serif;
    font-weight: 700;
}

p {
    font-family: OpenSans, sans-serif;
    font-weight: 600;

}

h1 {
    text-align: center;
    color: var(--h-text-color);
}

h2 {
    text-align: center;
    color: var(--h-text-color);
}

.ph1 {
    text-align: center;
    font-family: OpenSans, sans-serif;
    font-weight: 500;
}

.btnh1 {
    text-align: center;
    color: var(--button-text-color);
    background-color: var(--button-color);
    display: block;
    margin-inline: auto;
}

.as2{
    text-align: center;
}

.btns2 {
    text-align: center;
    color: var(--button-text-color);
    background-color: var(--button-color);
    margin-inline: auto;
}

.uls3 li {

    list-style: none;
    text-align: center;
}

.uls3 {
    padding: 0;
}

article {
    color: var(--h-text-color);
}

