h1 {
    text-align: center;
}
h2{
    text-align: center;
}
.ph1{
    text-align: center;
}
.btnh1 button{
    text-align: center;
}
.btns2{
    text-align: center;
}
.uls3 li{
    text-align: center;
}